%h1 Listing questions

%table
  %tr
    %th Test
    %th Content
    %th
    %th
    %th

  - @questions.each do |question|
    %tr
      %td= question.test_id
      %td= question.content
      %td= link_to 'Show', question
      %td= link_to 'Edit', edit_question_path(question)
      %td= link_to 'Destroy', question, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Question', new_question_path
