%p
	%strong Client:
	= @assignment.client
%p
	%h1
		= @assignment.name
%p
	%h3 Result Summary
	%ul.results
		- @assignment.response_groups.by_name.each do |group|
			%li
				%strong= group.name + ":"
				= group.total_value
%p
	%h3 Responses
	- @assignment.response_groups.each do |group|
		.response_group
			%strong= group.name
			%ol.responses
				- group.responses.each do |response|
					%li
						%em= response.question
						%br
						= response.answer

%p
	= link_to 'Back to Client Page', client_path(@assignment.client)