%h1 Administrator Control Panel

.control_panel
	.column
		%strong Master Tests:
		%ul
			- @master_tests.each do |master|
				%li= link_to master.name, master
		= link_to "New Master Test", new_master_test_path, :class => 'button'

	.column
		%strong Clients:
		%ul
			- @clients.each do |client|
				%li= link_to client.code, client
		= link_to "Generate Client", new_client_path, :class => 'button'

	.column
		%strong Test Assignments
		%br
		= link_to "Manage Test Assignments", tests_path, :class => 'button'