%h1 Listing clients

%table
	%tr
		%th Code
		%th Date Created
		%th Controls
	- @clients.each do |client|
		%tr
			%td= client.code
			%td= client.created_at.strftime("%b %m, %Y")
			%td
				= link_to 'View Client', client, :class => 'button'
				= link_to 'Delete', client, :confirm => 'Are you sure?', :method => :delete, :class => 'button danger'

= link_to 'Generate New Client', new_client_path, :class => 'button'
