%p
	%strong Client Code:
	= @client.code
%p
	%strong Assigned Tests:
	%ol
		- @client.assignments.each do |assignment|
			%li
				= assignment.name
				- if admin?
					= link_to "View Report", assignment, :class => 'small button'
					= link_to "Unassign", assignment_path(assignment, :target => :back), :method => :delete, :confirm => "Are you sure you wish to unassign this test? Any current progress on this test will be lost.", :class => "small button danger"
				- else
					= link_to 'Take / Revise Test', edit_assignment_path(assignment), :class => 'small button'

- if admin?
	%p
		%strong Assign Another Test:
		= simple_form_for @new_assignment, :html => { :class => 'stacked' } do |f|
			= f.hidden_field :client_id, :value => @client.id
			= f.association :master_test, :label => false, :collection => MasterTest.all
			= hidden_field_tag :target, :back
			= f.submit "Assign"
