.branding
	%h1 Center for Relational Care
	%p Client Assessment Tool

%p
	Please enter your client acces code:
= form_tag lookup_clients_path, :class => 'stacked' do
	.client_login
		= text_field_tag :id
		= submit_tag "Login"

.admin_login
	- if admin?
		= link_to "Logout Admin", logout_path
		|
		= link_to "Admin Control Panel", admin_path
	- else
		= link_to "Admin Login", login_path