%h1 Home

%h2 Client Login
= form_tag lookup_clients_path, :class => 'stacked' do
	.input
		= label_tag :id, "Client ID"
		= text_field_tag :id
	.input
		= submit_tag "Login"

- if admin?
	%h2 Administrator
	%p= link_to 'Log Out', logout_path
	%p
		%strong Menu
		%ul
			%li= link_to 'Tests', tests_path
			%li= link_to 'Response Sets', response_sets_path

- else
	%p Admin Login:
	= link_to 'Login', login_path