= simple_form_for @master_test, :html => { :class => 'stacked master_test' } do |f|
	= f.error_notification
	= f.input :name, :label => "Test Name"
	= f.input :instructions, :input_html => { :rows => nil, :cols => nil }
	= f.fields_for :question_groups do |builder|
		= render 'question_group_fields', f: builder

	.input.inset= link_to_add_fields "Add Question Group", f, :question_groups
	= f.submit