%fieldset
	= f.error_notification
	= f.input :content, :label => "Question"
	= f.hidden_field :_destroy
	= f.fields_for :answers do |builder|
		= render 'answer_fields', f: builder
	.input= link_to_add_fields "Add Answer", f, :answers
	= link_to "Delete Question", '#', :class => 'remove_fields button danger'
