%fieldset
	= f.error_notification
	= f.input :name, :label => "Question Group Name"
	= f.hidden_field :_destroy
	= f.fields_for :questions do |builder|
		= render 'question_fields', f: builder
	.input= link_to_add_fields "Add Questions", f, :questions
	= link_to "Delete Question Group", '#', :class => 'remove_fields button danger'
