%p
	%b Name:
	= @master_test.name
%p
	%b Instructions:
	= @master_test.instructions

- @master_test.question_groups.each do |question_group|
	.group
		%h2= question_group.name
		%ol.questions
			- question_group.questions.each do |question|
				%li
					%strong= question
					%ol.answers
						- question.answers.each do |answer|
							%li= answer.content

- if admin?
	= link_to 'Edit', edit_master_test_path(@master_test)
	|
	= link_to 'Back', master_tests_path
