= simple_form_for @test, :html => { :class => 'stacked' } do |f|
	= f.input :name
	= f.input :instructions
	= f.fields_for :questions do |builder|
		= render 'question_fields', f: builder
	.input= link_to_add_fields "Add Question", f, :questions
	= f.submit