%h1
	Responding to
	= @response_set.test.name
.instructions
	%strong Instructions:
	= @response_set.test.instructions

%h2 Questions
= simple_form_for @response_set, :html => { :class => 'standard' } do |f|
	%ol.questions
		= f.fields_for :responses, do |rf|
			%li
				%strong= rf.object.question
				= rf.association :answer, :collection => rf.object.question.answers, :as => :radio_buttons

	= f.submit
= link_to 'Cancel', response_sets_path
