%h1 Listing Tests

%table
  %tr
    %th Client
    %th Master Test
    %th
    %th
    %th

  - @tests.each do |test|
    %tr
      %td= test.client
      %td= test.master_test
      %td= link_to 'Show', test
      %td= link_to 'Edit', edit_test_path(test)
      %td= link_to 'Destroy', test, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'Assign a new test', new_test_path, :class => 'button'
