%h1 Listing response_sets

%table
  %tr
    %th Client
    %th Test
    %th
    %th
    %th

  - @response_sets.each do |response_set|
    %tr
      %td= response_set.client
      %td= response_set.test
      %td= link_to 'Show', response_set
      %td= link_to 'Edit', edit_response_set_path(response_set)
      %td= link_to 'Destroy', response_set, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Response set', new_response_set_path
