%p
	%b Name:
	= @test.name
%p
	%b Instructions:
	= @test.instructions

- @test.questions.each do |question|
	.question= question.content

- if admin?
	= link_to 'Edit', edit_test_path(@test)
	|
	= link_to 'Back', tests_path
