%p
	%b Name:
	= @test.name
%p
	%b Instructions:
	= @test.instructions

%ol.questions
	- @test.questions.each do |question|
		%li
			%strong= question.content
			%ol.answers
				- question.answers.each do |answer|
					%li= answer.content

- if admin?
	= link_to 'Edit', edit_test_path(@test)
	|
	= link_to 'Back', tests_path
