%p
	%strong Client:
	= @test.client
%p
	%h1= @test.name
%p
	%h3 Result Summary
	%ul.results
		- @test.response_groups.each do |group|
			%li
				%strong= group.name + ":"
				= group.total_value
%p
	%h3 Responses
	- @test.response_groups.each do |group|
		.response_group
			%strong= group.name
			%ol.responses
				- group.responses.each do |response|
					%li
						%em= response.question
						%br
						= response.answer

%p
	= link_to 'Back', tests_path
	|
	= link_to 'Edit', edit_test_path(@test)