%p
	%b Client:
	= @response_set.client
%p
	%h1= @response_set.test
	%ol.responses
		- @response_set.responses.each do |response|
			%li
				= response.question.content
				%br
				= response.answer
	%h2 Total Value
	= @response_set.total_value


= link_to 'Edit', edit_response_set_path(@response_set)
\|
= link_to 'Back', response_sets_path
