!!!
%html
	%head
		%title MiniCruncher
		= stylesheet_link_tag "application", :media => "all"
		= javascript_include_tag "application"
		= csrf_meta_tags
	%body
		#notifications= flash_messages
		%section#main= yield