!!!
%html
	%head
		%title
			= "[DEV]" unless Rails.env.production?
			MiniCruncher
		= stylesheet_link_tag "application", :media => "all"
		= javascript_include_tag "application"
		= csrf_meta_tags
	%body
		#notifications= flash_messages
		%header= render 'layouts/header'
		%section#main= yield